
.container{
	width: 760px;
	margin: 0 auto;
}
.header{
	width: 760px;
	height: 69px;
	background: #666666;
	display: flex;	
	
	margin-left: 25px;
	flex-wrap: wrap;
	align-items: center;
}
.menu{
	width: 675px;
	height: 69px;
	
	flex-wrap: wrap;
	display: flex;
	justify-content: space-around;
	
	
	
	
}
.p1:hover{
	font-size: 27px;
	transition: 1s;
}
.p12:hover{
	font-size: 27px;
	transition: 1s;
}
.menu1{
	width: 590px;
	height: 35px;
	padding-left: -20px;
	justify-content: space-around;
	align-items: center;
	display: flex;
	

}

.menu2{
	width: 590px;
	height: 34px;
	padding-left: 40px;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	
}
.menu>a{
	display: inline-block;
}
.p1{
	color: white;
	padding: 20px;
	font-size: 20px;
	font-weight: bolder;
	margin-left: -30px;
	
}
.p12{
	color: orange;
	padding: 20px;
	font-size: 23px;
	font-weight: bolder;
	
}
a{
	text-decoration: none;
}

.h1{
	color: #2ebb96;
	font-size: 13px;
	margin-left: 20px;	
	margin-top: 30px;
	position: 	absolute;	
	left: 525px;
	top: 82px;		
}
.p2{
	color: #1e3d32;
	font-size: 12px;
	margin-left: 19px;	
	

	position: relative;	
	top: 50px;	
	text-align: center;
				
}
.logo{
	height: 65px;
	width: 65px;
	margin-left: 15px;
}
.Form{
	width: 700px;
	height: 400px;
	margin-top: 30px;
	margin-left: -73px;
}
.answers{
	width: 760px;
	height: 500px;
	margin-top: 190px;
	border: 2px solid grey;
}
.diagrams{
	width: 350px;
	height: 200px;
	margin-top: 40px;
}
align-items: center;
}
